.calculator{
  width:100%;
  max-width:300px;
  height:auto;
  background-color: #f1f2f3;
  border-radius:20px;
  padding:20px 10px 10px 10px;
  margin:auto;
  
}
.calculator-result{
    width:calc(100% - 40px);
    border-radius:15px;
    height:50px;
    background-color: #c2c2c2;
    border:0px;
    outline:none;
    display: block;
    margin: auto;
    color:black;
    text-align: right;
    padding-right:20px;
    font-size: 30px;
}
.calculator-operation{
    width:calc(100% - 40px);
    border-radius:15px;
    height:50px;
    background-color: #f1f2f3;
    border:0px;
    outline:none;
    margin: 0px auto 0px auto;
    color:black;
    text-align: right;
    padding-right:20px;
    font-size: 20px;
}
.calculator-button-container{
    display: table;
    width: 100%;
}
.calculator-row{
    display: table-row;
    width:100%;
    justify-content: center;
}